

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <h6>Введите ссылку</h6>
    <input type="text" name="fullLink"/>
    <h6>Короткая ссылка</h6>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="text" name="shortLink"/>
    <h6>Пароль</h6>
    <input type="text" name="password"/>
                                      <input type="submit" name="Send"/>
}