﻿@model IEnumerable<WebApplication1.Models.Link>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="~/Home/Create">Create</a>
    <h1>All links</h1>
    @foreach (var link in Model)
    {
        if (link.Password != null)
        {
            <h6>Full link: @link.FullLink</h6>
            using (Html.BeginForm("Show", "Home", FormMethod.Post))
            {
                <h6>Password</h6>
                <input type="text" name="password"/>
                <input type="hidden" value="@link.Id" name="id"/>
                <input type="submit" name="Send"/>
            }
        }
        else
        {
            <h6>Full link: @link.FullLink</h6>
            <h6>Short link: </h6>
            <a href="@link.FullLink">@link.ShortLink</a>
            
        }
        
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
